${file("${path_module}/userdata/generic")}
echo "starting network postinstall"

# Note: this is not very secure to use this key because:
# - it is on github without any protection
# - it does not have any password
cat <<EOF >/root/.ssh/authorized_keys
${file("${path_module}/../ansible/files/zob.pub")}
EOF

# Configure the network interfaces
cat <<'EOF' >/etc/systemd/network/10-public.link
[Match]
PermanentMACAddress=${mac_public}
[Link]
Name=public
EOF

cat <<'EOF' >/etc/systemd/network/10-octavia.link
[Match]
PermanentMACAddress=${mac_octavia}
[Link]
Name=octavia
EOF

systemctl restart systemd-udev-trigger.service

git clone https://github.com/arnaudmorin/bootstrap-openstack-k8s.git /root/bootstrap-openstack-k8s -b ${os_version}

cd /root/bootstrap-openstack-k8s

cp config/config.yaml.sample config/config.yaml
sed -i -r "s/somewhere.net/${k8s_ip}.xip.opensteak.fr/" config/config.yaml
sed -i -r "s/changeme/${password}/" config/config.yaml
sed -i -r "s/os_version/${os_version}/" config/config.yaml

ansible-playbook ansible/bootstrap-network.yaml

echo "${k8s_ip} k8s" >> /etc/hosts

chmod 600 ansible/files/zob
echo "$(hostname -I | awk '{print $1}') ${hostname}" | ssh -o "StrictHostKeyChecking no" -i ansible/files/zob root@k8s tee -a /etc/hosts

echo "done"
