[Unit]
Description=OpenStack neutron-l3-agent
After=openvswitch-switch.service network-online.target local-fs.target remote-fs.target 
Wants=openvswitch-switch.service network-online.target 

[Service]
User=neutron
Group=neutron
WorkingDirectory=~
RuntimeDirectory=neutron lock/neutron
CacheDirectory=neutron
ExecStart=/opt/openstack/neutron/bin/neutron-l3-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/l3_agent.ini --log-file /var/log/neutron-l3-agent.log
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
