---
# Global password used everywhere
# NOTE(arnaud) this is not very secure but we dont want to prove security for now
password: changeme

# Domain used for your OpenStack deployment
# Make sure to point this domain and all subdomains to
# a worker IP
# keystone.{{domain}}
# glance.{{domain}}
# nova.{{domain}}
# placement.{{domain}}
# neutron.{{domain}}
#
# Or use something like this:
# your-ip.xip.opensteak.fr
#
# And replace your-ip with the result of this command:
# hostname -I | awk '{print $1}'
domain: somewhere.net

# Keystone fernet
# These are the keys keystone will use to generate tokens
# You can keep the following values, or regenerate new ones with:
# kubectl run -it --rm keystone-fernet-gen --image=arnaudmorin/openstack-keystone:2023.2 --restart=Never -- bash -c 'keystone-manage fernet_setup --keystone-user keystone --keystone-group keystone ; echo "fernet:" ; echo "  - \"$(cat /etc/keystone/fernet-keys/0)\"" ; echo "  - \"$(cat /etc/keystone/fernet-keys/1)\""'
keystone:
  fernet:
    - "IytEr50hW0rsmA9dfhPc6vBJe1KN8MoPFJxy2ARv_S0="
    - "kcDENFZQ6cLCvMliOgZjZB4y1Tf0AyX6Oed7HP0ylf8="

